.get-component {
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.get-component button {
    width: 50%;
    margin-top: 30px;
    height: 30px;
    background-color: rgb(211, 136, 255);
    border: none;
    color: #fafafa
}

.get-component button:hover {
    background-color: rgb(191, 101, 255);
    box-shadow: 1px 1px 1px 1px rgb(203, 202, 255);
    color: #fafafa;
    cursor:pointer
}